acm_hamburg_legacy==0.3
cirpy==1.0.2
chembl_structure_pipeline==1.2.2
click==8.3.0
drug_named_entity_recognition==2.0.9
FPSim2==0.7.3
matplotlib==3.10.7
numpy==2.3.3
pandas==2.3.3
pubchempy==1.0.5
rdkit==2024.9.6
Requests==2.32.5
scikit_learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
spacy==3.8.7
tqdm==4.67.1
rdkit==2024.9.6
nerdd-module==0.3.59
nerdd-link==0.6.7